<form action="{{ create_app_url }}" method="post" target="_blank">
    <button class="btn btn-outline" name="manifest" id="manifest" value='{{ manifest | tojson }}' >Register GitHub App</button>
</form>
